@media (max-width:768px) {
    .About .About-bottom-content {
        flex-direction: column;
    }

    .footer .footer-content{
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .footer ul li {
        padding: 1rem 0rem;
    }
 

}

@media (max-width:412px) {
    .About-top h2 {
        font-size: 30px;
    }

    .About-top p {
        font-size: 15px;
        padding: 1.5rem;
    }

    .contact .contact-content form input {

        width: 80%;

    }

    .contact .contact-content form textarea {
        width: 60%;

    }

    .btn-big {
        font-size: 15px;
    }

    .navbar ul li {
        display: none;
        padding: 0 8px;
    }

    .header .banner-content p {
        font-size: 18px;

    }
}